/*.zip
/*.pdf
/*/*.class
/*/*/*.class
/*/*/*/*.class
/.classpath
/bin
/.project
/project1/.classpath
/project1/.gitignore
/project1/.project
/project1/bin
/project1/RemoteSystemsTempFiles
/project1/src
out/
.idea
.DS_Store
Distributed-System.iml
